@model ElGnomoModels.ViewModels.RoleUsersView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoleUsers</h4>
<hr />
<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <dl class="row">
                    <div class="form-group col-6">
                        <dt>@Html.DisplayNameFor(model => model.User)</dt>
                        <select asp-for="UserId"
                                asp-items="@Model.Users"
                                class="form-control"
                                onchange="UserChanged('@Url.Action("GetUserJson", "Users")')"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        <input asp-for="User.FirstName" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.User.LastName)
                    </dt>
                    <dd class="col-sm-8">
                        <input asp-for="User.LastName" class="form-control" readonly />
                    </dd>
                </dl>
                <dl class="row">
                    <div class="form-group col-6">
                        <dt>@Html.DisplayNameFor(model => model.Role)</dt>
                        <select asp-for="RoleId"
                                asp-items="@Model.Roles"
                                class="form-control"
                                onchange="RoleChanged('@Url.Action("GetRoleJson", "Roles")')"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Role.Description)
                    </dt>
                    <dd class="col-sm-8">
                        <input asp-for="Role.Description" class="form-control" readonly />
                    </dd>
                </dl>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/roleusers.js"></script>
}
